.active_edit:hover
{
    background-color: #aabbcc;
    cursor: hand;
}
.ui-dialog
{
    background-color: #e2e2e2;
    border: 1px solid #ddd;
    position: absolute;
    padding: 2px;
}
.ui-dialog-titlebar
{
    background: url(/medias/cms/images/cms_toolbar.png) repeat-x;
    height: 20px;
    line-height: 18px;
    cursor: move;
    padding:0.5em 0.3em 0.3em 1em;
    position:relative;
    border: 1px solid #bbb;
    color: #666;
}

.ui-dialog .ui-dialog-buttonpane button
{
    cursor:pointer;
    float:right;
    line-height:1.4em;
    margin:0.5em 0.4em 0.5em 0;
    overflow:visible;
    padding:0.2em 0.6em 0.3em;
    width:auto;
    border: 1px solid #ccc;
    background-color: #fff;
}
.ui-dialog .ui-dialog-buttonpane button:hover
{
    background-color: #aaa;
}
.ui-dialog .ui-dialog-titlebar-close
{
    height:15px;
    margin:-10px 0 0;
    padding:1px;
    position:absolute;
    right:0.3em;
    top:50%;
    width:15px;
    background: transparent url(/medias/cms/images/cms_toolbar.png) no-repeat scroll -205px -157px;
    text-indent: -99999px;
    border: 1px solid #ccc;
}
.ui-dialog .ui-dialog-titlebar-close:hover
{
    background-position: -205px -187px;
}
.ui-widget-overlay
{
//    background: #666666 url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) repeat scroll 50% 50%;
    opacity: 0.5;
    position:absolute;
    z-index: 100000;
    left: 0;
    top: 0;
    background-color: #666;
}

.ui-dialog input[type="text"]
{
    padding:0.4em;
    width:92%;    
}
.ui-dialog input:focus
{
    border-color: #fff;
}
.ui-dialog .ui-dialog-content
{
    background:transparent none repeat scroll 0 0;
    border:0 none;
    overflow:auto;
    padding:5px 0;
}
.ui-dialog .ui-resizable-se
{
    bottom:3px;
    height:14px;
    right:3px;
    width:14px;
    cursor: se-resize;
    display:block;
    font-size:0.1px;
    position:absolute;
    background-position:-80px -224px;
    background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/images/ui-icons_222222_256x240.png);
}
.ui-dialog .ui-dialog-buttonpane
{
    margin-top: 10px;
    padding-right: 40px;
    text-align:left;
    border-top: 1px solid #ccc;
}